<?xml version='1.0' encoding='utf-8'?>
<widget id="com.iEmoji.good" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>iEmoji</name>
    <description>
        表情宝，一套有趣的表情app
    </description>
    <author email="hcy2367@163.com" href="https://github.com/hcy2367">
        chmyun
    </author>

    <preference name="Orientation" value="default" />
    <preference name="Fullscreen" value="true" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    <preference name="KeepRunning" value="false"/>
    <preference name="LoadUrlTimeoutValue" value="10000"/>
	<!-- 指定res/drawable 目录的图片名称，用于app启动画面 -->
	<preference name="SplashScreen" value="splash"/>
	<!-- 图片闪动时间 -->
	<preference name="SplashScreenDelay" value="10000"/>
	<preference name="InAppBrowserStorageEnabled" value="true"/>
	<preference name="ErrorUrl" value="error.html"/>
	<preference name="ShowTitle" value="true"/>
	<!-- 设置日志类别信息，默认为ERROR，其他值：WARN, INFO, DEBUG, VERBOSE -->
	<preference name="LogLevel" value="VERBOSE"/>
	<!-- 默认值为singleTop，其他值：standard, singleTask, singleInstance -->
	<preference name="AndroidLaunchMode" value="singleTop"/>
	<!-- 文件存储位置 -->
	<preference name="AndroidPersistentFileLocation" value="Compatibility" />
	<preference name="AndroidExtraFilesystems" value="files,files-external,documents,sdcard,cache,cache-external,root" />
	<!-- Define app icon for each platform -->
    <icon src="icon.png" />
    <!-- android -->
    <platform name="android">
        <icon src="res/icon/android/icon_36_ldpi.png" density="ldpi" />
        <icon src="res/icon/android/icon_48_mdpi.png" density="mdpi" />
        <icon src="res/icon/android/icon_72_hdpi.png" density="hdpi" />
        <icon src="res/icon/android/icon_96_xhdpi.png" density="xhdpi" />
    </platform>

    <!-- ios -->
    <platform name="ios">
	    <!-- iPhone / iPod Touch -->
	    <icon src="res/icon/ios/icon-57.png" width="57" height="57" />
	    <icon src="res/icon/ios/icon-57@2x.png" width="114" height="114" />
	    <!-- iPad -->
	    <icon src="res/icon/ios/icon-72.png" width="72" height="72" />
	    <icon src="res/icon/ios/icon-72@2x.png" width="144" height="144" />
    </platform>


	<!-- Define app splash screen for each platform -->
    <!-- android -->
    <platform name="android">
	    <splash src="res/screen/android/screen_ldpi_landscape.png" density="land-ldpi"/>
	    <splash src="res/screen/android/screen_mdpi_landscape.png" density="land-mdpi"/>
	    <splash src="res/screen/android/screen_hdpi_landscape.png" density="land-hdpi"/>
	    <splash src="res/screen/android/screen_xhdpi_landscape.png" density="land-xhdpi"/>

	    <splash src="res/screen/android/screen_ldpi_portrait.png" density="port-ldpi"/>
	    <splash src="res/screen/android/screen_mdpi_portrait.png" density="port-mdpi"/>
	    <splash src="res/screen/android/screen_hdpi_portrait.png" density="port-hdpi"/>
	    <splash src="res/screen/android/screen_xhdpi_portrait.png" density="port-xhdpi"/>
	</platform>

	<!-- ios -->
	<platform name="ios">
	    <!-- images are determined by width and height. The following are supported -->
	    <splash src="res/screen/ios/screen-iphone-portrait.png" width="320" height="480"/>
	    <splash src="res/screen/ios/screen-iphone-portrait-2x.png" width="640" height="960"/>
	    <splash src="res/screen/ios/screen-ipad-portrait.png" width="768" height="1024"/>
	    <splash src="res/screen/ios/screen-ipad-portrait-2x.png" width="1536" height="2048"/>
	    <splash src="res/screen/ios/screen-ipad-landscape.png" width="1024" height="768"/>
	    <splash src="res/screen/ios/screen-ipad-landscape-2x.png" width="2048" height="1536"/>
	    <splash src="res/screen/ios/screen-iphone-portrait-568h-2x.png" width="640" height="1136"/>
	</platform>

    <content src="index.html" />

    <access origin="*" />
</widget>
